In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://guides.gamepressure.com/originalsinII/guide.asp?ID=37397"

In [3]:
r = requests.get(url)

In [4]:
r.status_code

200

In [5]:
soup = BeautifulSoup(r.text, 'lxml')

In [6]:
c_1 = soup.find_all('p',class_='wcb')
c_2 = soup.find_all('p',class_='wcz')
c_3 = soup.find_all('p',class_='wcn')
body = soup.find_all('tr')[1:]

In [7]:
col_1 = [c_1[i].text for i in range(len(c_1))]
col_2 = [c_2[i].text for i in range(len(c_2))]
col_3 = [c_3[i].text for i in range(len(c_3))]
col_4 = [body[i].find_all('p')[-1].text for i in range(len(body))]

In [8]:
cp = pd.DataFrame()

In [9]:
cp[0] = col_1
cp[1] = col_2
cp[2] = col_3
cp[3] = col_4
cp.columns = ['level', 'total_xp', 'req_xp', 'Bonus']

cp['total_xp'] = cp['total_xp'].apply(lambda x: int(x.replace(',', '')))
cp['req_xp'] = cp['req_xp'].apply(lambda x: int(x.replace(',', '')))

In [10]:
cp['attribute_points'] = cp['Bonus'].apply(lambda x: x[0].replace('?', '0'))
cp['attribute_points'] = pd.to_numeric(cp['attribute_points'])

cp['combat_points'] = cp['Bonus'].apply(lambda x: x.split(','))
cp['combat_points'] = cp['combat_points'].apply(lambda x: x[1][1].strip()[0] if len(x) >=2 else x)
cp['combat_points'] = cp['combat_points'].apply(lambda x: x[0].replace('?', '0'))
cp['combat_points'] = pd.to_numeric(cp['combat_points'])

cp['civic_points'] = cp['Bonus'].apply(lambda x: x.split(','))
cp['civic_points'] = cp['civic_points'].apply(lambda x: x[2][1].strip()[0] if len(x)==3 else 0)
cp['civic_points'] = pd.to_numeric(cp['civic_points'])

In [11]:
cp.drop('Bonus', inplace=True, axis=1)

In [12]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   level             30 non-null     object
 1   total_xp          30 non-null     int64
 2   req_xp            30 non-null     int64
 3   attribute_points  30 non-null     int64
 4   combat_points     30 non-null     int64
 5   civic_points      30 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.5+ KB

In [13]:
cp.head()

  level  total_xp  req_xp  attribute_points  combat_points  civic_points
0     1         0    2000                 0              0             0
1     2      2000    6000                 2              1             1
2     3      8000   12000                 2              1             0
3     4     20000   20000                 2              1             1
4     5     40000   30000                 2              1             0