# Panel Data

Ya hemos visto cómo se predicen diferentes series temporales basadas en un único elemento de estudio, es decir, una serie temporal. Sin embargo, ¿cómo podemos hacer para predecir más de un elemento a la vez, es decir, cómo podemos predecir Panel Data?

Pues la solución pasa por utilizar algoritmos de Machine Learning. Podemos utilizar estos algoritmos para detectar los patrones en base a sus últimos datos, aunque también ayudaría si tenemos datos característicos de cada individuo, de modo que le podamos proveer de más información al modelo.

Cabe destacar, que estos modelos se suelen utilizar para predecir el siguiente punto, no para hacer forecast de varios puntos.

A continuación, te reto a que intentes predecir valores de un panel data, en este caso, deberemos predecir ``quantity``. Para ello:
1. Lee el dataframe de los mercados
2. Modifica el DataFrame para quedarte con los mercados que tengan todos los datos desde enero de 2010 hasta diciembre de 2015

In [1]:
import pandas as pd
import numpy as np

In [2]:
#1
df = pd.read_csv("data/MarketArrivals.csv")
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10227 entries, 0 to 10226
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   market    10227 non-null  object
 1   month     10227 non-null  object
 2   year      10227 non-null  int64
 3   quantity  10227 non-null  int64
 4   priceMin  10227 non-null  int64
 5   priceMax  10227 non-null  int64
 6   priceMod  10227 non-null  int64
 7   state     10227 non-null  object
 8   city      10227 non-null  object
 9   date      10227 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 799.1+ KB

In [3]:
df = df[(df['date'] >= '2010-01-01') & (df['date'] <= '2015-12-01')]
df

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
2,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,2010-01-01
3,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,2011-01-01
4,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,2012-01-01
5,ABOHAR(PB),January,2013,675,1327,1900,1605,PB,ABOHAR,2013-01-01
6,ABOHAR(PB),January,2014,440,1025,1481,1256,PB,ABOHAR,2014-01-01
...,...,...,...,...,...,...,...,...,...,...
10222,YEOLA(MS),December,2011,131326,282,612,526,MS,YEOLA,2011-12-01
10223,YEOLA(MS),December,2012,207066,485,1327,1136,MS,YEOLA,2012-12-01
10224,YEOLA(MS),December,2013,215883,472,1427,1177,MS,YEOLA,2013-12-01
10225,YEOLA(MS),December,2014,201077,446,1654,1456,MS,YEOLA,2014-12-01
10226,YEOLA(MS),December,2015,223315,609,1446,1126,MS,YEOLA,2015-12-01

In [4]:
reg_mercados = df['market'].value_counts()
reg_mercados

LONAND(MS)            72
KOLKATA               72
JODHPUR(RAJ)          72
JAIPUR                72
SHRIRAMPUR(MS)        72
                      ..
NEEMUCH(MP)            1
JALGAON(WHITE)         1
CHALLAKERE(KNT)        1
SRIGANGANAGAR(RAJ)     1
MEERUT(UP)             1
Name: market, Length: 115, dtype: int64

In [5]:
mercados = list(reg_mercados[reg_mercados==72].index)
mercados

['LONAND(MS)',
 'KOLKATA',
 'JODHPUR(RAJ)',
 'JAIPUR',
 'SHRIRAMPUR(MS)',
 'PIMPALGAON(MS)',
 'SOLAPUR(MS)',
 'MANMAD(MS)',
 'MUMBAI',
 'AGRA(UP)',
 'LUCKNOW',
 'JAMMU',
 'GUWAHATI',
 'INDORE(MP)',
 'YEOLA(MS)',
 'DHAVANGERE(KNT)',
 'MALEGAON(MS)',
 'DELHI',
 'SURAT(GUJ)',
 'BIJAPUR(KNT)',
 'BANGALORE',
 'HUBLI(KNT)',
 'CHENNAI',
 'PUNE(MS)',
 'LASALGAON(MS)',
 'AHMEDABAD(GUJ)',
 'JALGAON(MS)',
 'DEVALA(MS)',
 'DHULIA(MS)',
 'BELGAUM(KNT)']

In [6]:
df = df[df['market'].isin(mercados)].reset_index(drop=True)
df

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
0,AGRA(UP),January,2010,45430,1249,1366,1308,UP,AGRA,2010-01-01
1,AGRA(UP),January,2011,27385,2893,3141,3005,UP,AGRA,2011-01-01
2,AGRA(UP),January,2012,59900,661,755,715,UP,AGRA,2012-01-01
3,AGRA(UP),January,2013,64940,1238,1349,1292,UP,AGRA,2013-01-01
4,AGRA(UP),January,2014,143920,1102,1246,1200,UP,AGRA,2014-01-01
...,...,...,...,...,...,...,...,...,...,...
2155,YEOLA(MS),December,2011,131326,282,612,526,MS,YEOLA,2011-12-01
2156,YEOLA(MS),December,2012,207066,485,1327,1136,MS,YEOLA,2012-12-01
2157,YEOLA(MS),December,2013,215883,472,1427,1177,MS,YEOLA,2013-12-01
2158,YEOLA(MS),December,2014,201077,446,1654,1456,MS,YEOLA,2014-12-01
2159,YEOLA(MS),December,2015,223315,609,1446,1126,MS,YEOLA,2015-12-01

### Función rolling

Antes de proseguir, vamos a ver la función ``rolling`` para hacer ventanas temporales. Esta función cobra especial sentido en estos modelos, pues nos ayudará a darle más contexto al algoritmo para predecir. Básicamente, consiste en llevar una ventana de un tamaño determinado desde diferentes puntos temporales, aplicando filtros particulares para cada una.

Veamos cómo funciona para calcular el precio máximo de los 6 meses anteriores, y del precio mínimo los 3 meses anteriores:

In [7]:
# Ordenamos los datos en base al mercado y a la fecha:
df2 = df.copy()
df2 = df2.sort_values(by=['market', 'date'], ascending=True)
df2 = df2.reset_index(drop=True)
df2.tail()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
2155,YEOLA(MS),August,2015,55819,1565,4841,4184,MS,YEOLA,2015-08-01
2156,YEOLA(MS),September,2015,25374,1606,4621,4044,MS,YEOLA,2015-09-01
2157,YEOLA(MS),October,2015,15593,1046,3537,2886,MS,YEOLA,2015-10-01
2158,YEOLA(MS),November,2015,62522,1003,2460,1996,MS,YEOLA,2015-11-01
2159,YEOLA(MS),December,2015,223315,609,1446,1126,MS,YEOLA,2015-12-01

In [8]:
df2.groupby("market")['priceMax'].rolling(6).max().reset_index(drop=True)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
2155    4841.0
2156    4841.0
2157    4841.0
2158    4841.0
2159    4841.0
Name: priceMax, Length: 2160, dtype: float64

In [9]:
# Precio máximo para 6 meses:
df2_pricemax_6 = df2.groupby("market")['priceMax'].rolling(6).max().reset_index()
df2_pricemax_6 = df2_pricemax_6.drop(['level_1', 'market'], axis=1)
df2_pricemax_6 = df2_pricemax_6.rename({'priceMax': 'price_max_6'}, axis=1)
df2_pricemax_6.head(10)

   price_max_6
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5       1366.0
6       1321.0
7       1254.0
8       1272.0
9       1492.0

In [10]:
# Precio mínimo para 3 meses:
df2_pricemin_3 = df2.groupby("market")['priceMin'].rolling(3).min().reset_index()
df2_pricemin_3 = df2_pricemin_3.drop(['level_1', 'market'], axis=1)
df2_pricemin_3 = df2_pricemin_3.rename({'priceMin': 'price_min_3'}, axis=1)
df2_pricemin_3.head(5)

   price_min_3
0          NaN
1          NaN
2       1163.0
3        714.0
4        568.0

In [11]:
# Juntamos todos los df auxiliares que nos hemos creado:
df_aux = df2_pricemax_6.join(df2_pricemin_3)
df_aux

      price_max_6  price_min_3
0             NaN          NaN
1             NaN          NaN
2             NaN       1163.0
3             NaN        714.0
4             NaN        568.0
...           ...          ...
2155       4841.0        486.0
2156       4841.0        857.0
2157       4841.0       1046.0
2158       4841.0       1003.0
2159       4841.0        609.0

[2160 rows x 2 columns]

In [12]:
# Tras crear nuestro df auxiliar, lo unimos a los datos originales y eliminamos aquellos con nulos:
df_new = df2.join(df_aux).dropna()
df_new = df_new.reset_index(drop=True)
df_new

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date,price_max_6,price_min_3
0,AGRA(UP),June,2010,86710,626,714,680,UP,AGRA,2010-06-01,1366.0,568.0
1,AGRA(UP),July,2010,72110,772,888,846,UP,AGRA,2010-07-01,1321.0,568.0
2,AGRA(UP),August,2010,67390,818,942,891,UP,AGRA,2010-08-01,1254.0,626.0
3,AGRA(UP),September,2010,43055,1147,1272,1213,UP,AGRA,2010-09-01,1272.0,772.0
4,AGRA(UP),October,2010,38920,1327,1492,1411,UP,AGRA,2010-10-01,1492.0,818.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2005,YEOLA(MS),August,2015,55819,1565,4841,4184,MS,YEOLA,2015-08-01,4841.0,486.0
2006,YEOLA(MS),September,2015,25374,1606,4621,4044,MS,YEOLA,2015-09-01,4841.0,857.0
2007,YEOLA(MS),October,2015,15593,1046,3537,2886,MS,YEOLA,2015-10-01,4841.0,1046.0
2008,YEOLA(MS),November,2015,62522,1003,2460,1996,MS,YEOLA,2015-11-01,4841.0,1003.0
2009,YEOLA(MS),December,2015,223315,609,1446,1126,MS,YEOLA,2015-12-01,4841.0,609.0

In [13]:
# Nos quedaríamos con las columnas que utilizaremos para predecir en nuestro dataset:
df2_end = df_new[['market', 'city', 'quantity', 'year', 'month', 'price_max_6', 'price_min_3', 'date']]
df2_end

,market,city,quantity,year,month,price_max_6,price_min_3,date
0,AGRA(UP),AGRA,86710,2010,June,1366.0,568.0,2010-06-01
1,AGRA(UP),AGRA,72110,2010,July,1321.0,568.0,2010-07-01
2,AGRA(UP),AGRA,67390,2010,August,1254.0,626.0,2010-08-01
3,AGRA(UP),AGRA,43055,2010,September,1272.0,772.0,2010-09-01
4,AGRA(UP),AGRA,38920,2010,October,1492.0,818.0,2010-10-01
...,...,...,...,...,...,...,...,...
2005,YEOLA(MS),YEOLA,55819,2015,August,4841.0,486.0,2015-08-01
2006,YEOLA(MS),YEOLA,25374,2015,September,4841.0,857.0,2015-09-01
2007,YEOLA(MS),YEOLA,15593,2015,October,4841.0,1046.0,2015-10-01
2008,YEOLA(MS),YEOLA,62522,2015,November,4841.0,1003.0,2015-11-01
2009,YEOLA(MS),YEOLA,223315,2015,December,4841.0,609.0,2015-12-01

Ahora que ya conoces cómo utilizar esta función, aprovéchala para realizar los siguientes apartados:

Hemos reducido el DataFrame a los mercados que nos interesan, ahora nos queda adaptar los datos para predecir:
1. Construye un DataFrame con los diferentes lags para cada mercado. En algunos casos, cuando trabajamos con Panel Data, además de poner lags, se suelen poner agrupaciones de otras variables en base a diferentes ventanas temporales hacia atrás → función ``rolling`` de Pandas. Calcula el máximo del precio máximo de los últimos 3, 6 y 12 meses, así como la media de ``quantity`` en esas mismas ventanas temporales
2. Separa en train y test, basándote en el eje temporal, dejando el último mes para test
3. Prueba diferentes modelos de Machine Learning replicando la metodología vista para una serie temporal, pero con diferentes individuos, representando gráficamente los mejores resultados
  * Si utilizas un GridSearchCV, separa los CV en base a ``TimeSeriesSplit`` (de ``sklearn.model_selection``)

In [68]:
pd.set_option('max_rows', 2200)

In [61]:
df3 = df2.copy()

In [74]:
df3['priceMax_3'] = df3.groupby('market')['priceMax'].apply(lambda x: round(x.shift(1).rolling(3).max(),0))
df3['priceMax_6'] = df3.groupby('market')['priceMax'].apply(lambda x: round(x.shift(1).rolling(6).max(),0))
df3['priceMax_12'] = df3.groupby('market')['priceMax'].apply(lambda x: round(x.shift(1).rolling(12).max(),0))
df3['Mean_Q_3'] = df3.groupby('market')['quantity'].apply(lambda x: round(x.shift(1).rolling(3).mean(),0))
df3['Mean_Q_6'] = df3.groupby('market')['quantity'].apply(lambda x: round(x.shift(1).rolling(6).mean(),0))
df3['Mean_Q_12'] = df3.groupby('market')['quantity'].apply(lambda x: round(x.shift(1).rolling(12).mean(),0))

In [75]:
df3

               market      month  year  quantity  priceMin  priceMax  \
0            AGRA(UP)    January  2010     45430      1249      1366
1            AGRA(UP)   February  2010     52580      1189      1321
2            AGRA(UP)      March  2010     67050      1163      1254
3            AGRA(UP)      April  2010    106690       714       822
4            AGRA(UP)        May  2010     97650       568       705
5            AGRA(UP)       June  2010     86710       626       714
6            AGRA(UP)       July  2010     72110       772       888
7            AGRA(UP)     August  2010     67390       818       942
8            AGRA(UP)  September  2010     43055      1147      1272
9            AGRA(UP)    October  2010     38920      1327      1492
10           AGRA(UP)   November  2010     38705      1543      1674
11           AGRA(UP)   December  2010     40465      2097      2377
12           AGRA(UP)    January  2011     27385      2893      3141
13           AGRA(UP)   February  2011     44110      1287      1424
14           AGRA(UP)      March  2011     51810       797       906
15           AGRA(UP)      April  2011     47870       631       705
16           AGRA(UP)        May  2011     90900       573       652
17           AGRA(UP)       June  2011     72450       507       619
18           AGRA(UP)       July  2011     46270       751       851
19           AGRA(UP)     August  2011     33400       947      1047
20           AGRA(UP)  September  2011     20200      1240      1394
21           AGRA(UP)    October  2011     30720      1330      1433
22           AGRA(UP)   November  2011     44660       971      1105
23           AGRA(UP)   December  2011     47490       725       827
24           AGRA(UP)    January  2012     59900       661       755
25           AGRA(UP)   February  2012     62410       602       709
26           AGRA(UP)      March  2012     64175       611       708
27           AGRA(UP)      April  2012     67000       615       688
28           AGRA(UP)        May  2012     83300       566       645
29           AGRA(UP)       June  2012     48340       541       620
30           AGRA(UP)       July  2012     70690       666       754
31           AGRA(UP)     August  2012     71320       722       821
32           AGRA(UP)  September  2012     65360       726       808
33           AGRA(UP)    October  2012     51748       781       874
34           AGRA(UP)   November  2012     36750      1029      1137
35           AGRA(UP)   December  2012     44380      1223      1320
36           AGRA(UP)    January  2013     64940      1238      1349
37           AGRA(UP)   February  2013     47690      1656      1799
38           AGRA(UP)      March  2013     71945      1256      1352
39           AGRA(UP)      April  2013     93980      1142      1215
40           AGRA(UP)        May  2013     79860      1015      1090
41           AGRA(UP)       June  2013     71440      1005      1080
42           AGRA(UP)       July  2013     36280      1601      1716
43           AGRA(UP)     August  2013     18270      3225      3513
44           AGRA(UP)  September  2013     30740      4098      4357
45           AGRA(UP)    October  2013     31800      4020      4384
46           AGRA(UP)   November  2013     30120      3489      3718
47           AGRA(UP)   December  2013     63600      1748      1943
48           AGRA(UP)    January  2014    143920      1102      1246
49           AGRA(UP)   February  2014     96950      1111      1225
50           AGRA(UP)      March  2014    100060      1048      1189
51           AGRA(UP)      April  2014     60150      1058      1182
52           AGRA(UP)        May  2014     41045      1073      1190
53           AGRA(UP)       June  2014     36960      1068      1206
54           AGRA(UP)       July  2014     22490      1677      1888
55           AGRA(UP)     August  2014     45420      1625      1862
56           AGRA(UP)  September  2014     46042      1539      1770
57           AGRA(UP)    October  2014     43910      1641      1838
58           AGRA(UP)   November  2014     63021      1520      1789
59           AGRA(UP)   December  2014     74750      1450      1720
60           AGRA(UP)    January  2015     64990      1587      1746
61           AGRA(UP)   February  2015     56004      1476      1633
62           AGRA(UP)      March  2015     56330      1660      1799
63           AGRA(UP)      April  2015     63800      1367      1561
64           AGRA(UP)        May  2015     79030      1265      1392
65           AGRA(UP)       June  2015     89880      1432      1666
66           AGRA(UP)       July  2015     65450      1979      2364
67           AGRA(UP)     August  2015     39030      2948      3464
68           AGRA(UP)  September  2015     31830      3500      4468
69           AGRA(UP)    October  2015     63215      2933      3844
70           AGRA(UP)   November  2015     67530      2527      2960
71           AGRA(UP)   December  2015    106360      1486      1953
72     AHMEDABAD(GUJ)    January  2010    134394       796      1462
73     AHMEDABAD(GUJ)   February  2010    127030       763      1209
74     AHMEDABAD(GUJ)      March  2010    100284       504       891
75     AHMEDABAD(GUJ)      April  2010    126519       381       663
76     AHMEDABAD(GUJ)        May  2010     72604       355       613
77     AHMEDABAD(GUJ)       June  2010     99649       332       719
78     AHMEDABAD(GUJ)       July  2010     93601       451       808
79     AHMEDABAD(GUJ)     August  2010     81022       638       984
80     AHMEDABAD(GUJ)  September  2010     79013      1018      1470
81     AHMEDABAD(GUJ)    October  2010     82070      1141      1693
82     AHMEDABAD(GUJ)   November  2010     76962      1193      2035
83     AHMEDABAD(GUJ)   December  2010     62270      1338      3272
84     AHMEDABAD(GUJ)    January  2011     73739      1407      3243
85     AHMEDABAD(GUJ)   February  2011     98053       713      1135
86     AHMEDABAD(GUJ)      March  2011    114902       340       701
87     AHMEDABAD(GUJ)      April  2011    120456       274       632
88     AHMEDABAD(GUJ)        May  2011     88893       248       628
89     AHMEDABAD(GUJ)       June  2011     99309       342       748
90     AHMEDABAD(GUJ)       July  2011    100606       481       967
91     AHMEDABAD(GUJ)     August  2011     88332       526      1198
92     AHMEDABAD(GUJ)  September  2011    111020       650      1250
93     AHMEDABAD(GUJ)    October  2011     78649       575      1063
94     AHMEDABAD(GUJ)   November  2011    116916       596      1063
95     AHMEDABAD(GUJ)   December  2011     98449       379       887
96     AHMEDABAD(GUJ)    January  2012    111346       298       641
97     AHMEDABAD(GUJ)   February  2012    114550       261       539
98     AHMEDABAD(GUJ)      March  2012    133176       310       640
99     AHMEDABAD(GUJ)      April  2012    117541       328       611
100    AHMEDABAD(GUJ)        May  2012    119054       273       541
101    AHMEDABAD(GUJ)       June  2012    111545       367       599
102    AHMEDABAD(GUJ)       July  2012    130843       492       693
103    AHMEDABAD(GUJ)     August  2012     98367       620       788
104    AHMEDABAD(GUJ)  September  2012     73750       518       751
105    AHMEDABAD(GUJ)    October  2012     82346       630       966
106    AHMEDABAD(GUJ)   November  2012     86711       574      1421
107    AHMEDABAD(GUJ)   December  2012    101630       639      1540
108    AHMEDABAD(GUJ)    January  2013    112855      1150      1740
109    AHMEDABAD(GUJ)   February  2013    122794      1029      1878
110    AHMEDABAD(GUJ)      March  2013    129116       773      1280
111    AHMEDABAD(GUJ)      April  2013    156100       693       999
112    AHMEDABAD(GUJ)        May  2013    159374       565       956
113    AHMEDABAD(GUJ)       June  2013    103681      1061      1541
114    AHMEDABAD(GUJ)       July  2013    109344      1800      2312
115    AHMEDABAD(GUJ)     August  2013     66177      3105      4232
116    AHMEDABAD(GUJ)  September  2013     67185      3370      5068
117    AHMEDABAD(GUJ)    October  2013     98858      1469      4845
118    AHMEDABAD(GUJ)   November  2013     93291      1905      4100
119    AHMEDABAD(GUJ)   December  2013     88391       953      1983
120    AHMEDABAD(GUJ)    January  2014    125617       773      1446
121    AHMEDABAD(GUJ)   February  2014    120083       435      1025
122    AHMEDABAD(GUJ)      March  2014    173342       526      1090
123    AHMEDABAD(GUJ)      April  2014    108781       488      1082
124    AHMEDABAD(GUJ)        May  2014    132951       581      1154
125    AHMEDABAD(GUJ)       June  2014    145488       760      1606
126    AHMEDABAD(GUJ)       July  2014    107333      1171      2144
127    AHMEDABAD(GUJ)     August  2014     82915       995      1830
128    AHMEDABAD(GUJ)  September  2014     99780       906      1744
129    AHMEDABAD(GUJ)    October  2014     94659       822      1719
130    AHMEDABAD(GUJ)   November  2014    144941       813      1478
131    AHMEDABAD(GUJ)   December  2014    132706      1231      2057
132    AHMEDABAD(GUJ)    January  2015    137027       829      1358
133    AHMEDABAD(GUJ)   February  2015    130766      1239      1886
134    AHMEDABAD(GUJ)      March  2015    130950      1024      1513
135    AHMEDABAD(GUJ)      April  2015    147551       861      1317
136    AHMEDABAD(GUJ)        May  2015    145910       790      1442
137    AHMEDABAD(GUJ)       June  2015    144342      1118      1942
138    AHMEDABAD(GUJ)       July  2015    114147      1470      2348
139    AHMEDABAD(GUJ)     August  2015     78103      2973      4327
140    AHMEDABAD(GUJ)  September  2015     85576      3033      4472
141    AHMEDABAD(GUJ)    October  2015    147780      1530      3510
142    AHMEDABAD(GUJ)   November  2015    190213      1130      2313
143    AHMEDABAD(GUJ)   December  2015    162758      1006      1582
144         BANGALORE    January  2010    423649       502      1837
145         BANGALORE   February  2010    316685       495      1429
146         BANGALORE      March  2010    368644       386       895
147         BANGALORE      April  2010    404805       287       730
148         BANGALORE        May  2010    395519       306       827
149         BANGALORE       June  2010    362618       324       958
150         BANGALORE       July  2010    376400       366       995
151         BANGALORE     August  2010    439552       482      1150
152         BANGALORE  September  2010    607514       979      1303
153         BANGALORE    October  2010   1059835      1050      1455
154         BANGALORE   November  2010    661830      1330      2055
155         BANGALORE   December  2010    662016      2377      3290
156         BANGALORE    January  2011    375695      2029      3167
157         BANGALORE   February  2011    367503      1082      1300
158         BANGALORE      March  2011    398464       611       748
159         BANGALORE      April  2011    372716       505       701
160         BANGALORE        May  2011    372034       557       743
161         BANGALORE       June  2011    368576       622      1000
162         BANGALORE       July  2011    349686       844      1136
163         BANGALORE     August  2011    415124       949      1414
164         BANGALORE  September  2011    713765       488      1427
165         BANGALORE    October  2011   1115174       370      1196
166         BANGALORE   November  2011    970352       384      1250
167         BANGALORE   December  2011    706820       294       973
168         BANGALORE    January  2012    531906       161       736
169         BANGALORE   February  2012    363037       185       696
170         BANGALORE      March  2012    386843       220       704
171         BANGALORE      April  2012    376769       305       726
172         BANGALORE        May  2012    407188       260       707
173         BANGALORE       June  2012    402256       334       832
174         BANGALORE       July  2012    389497       387       901
175         BANGALORE     August  2012    471034       426      1035
176         BANGALORE  September  2012    691674       334      1021
177         BANGALORE    October  2012   1098253       479      1203
178         BANGALORE   November  2012    903459       647      1736
179         BANGALORE   December  2012    515118       874      1852
180         BANGALORE    January  2013    426367       857      1830
181         BANGALORE   February  2013    351372       966      1873
182         BANGALORE      March  2013    378399       615      1360
183         BANGALORE      April  2013    377960       579      1213
184         BANGALORE        May  2013    384205       566      1330
185         BANGALORE       June  2013    337186       843      1840
186         BANGALORE       July  2013    349474      1404      2547
187         BANGALORE     August  2013    511174      1349      4198
188         BANGALORE  September  2013   1289187      1709      4502
189         BANGALORE    October  2013   1639032      2213      4698
190         BANGALORE   November  2013    710266       960      4043
191         BANGALORE   December  2013    628220       655      2118
192         BANGALORE    January  2014    606710       404      1296
193         BANGALORE   February  2014    522132       296      1017
194         BANGALORE      March  2014    683236       294      1078
195         BANGALORE      April  2014    697423       307      1166
196         BANGALORE        May  2014    591250       250      1495
197         BANGALORE       June  2014    496447       621      2296
198         BANGALORE       July  2014    399867      1294      2740
199         BANGALORE     August  2014    440875       905      2485
200         BANGALORE  September  2014    941818       808      2185
201         BANGALORE    October  2014   1412686       605      2037
202         BANGALORE   November  2014   1235389       145      2309
203         BANGALORE   December  2014    842653       312      2212
204         BANGALORE    January  2015    583681       313      1967
205         BANGALORE   February  2015    405716       609      2018
206         BANGALORE      March  2015    443687       638      1660
207         BANGALORE      April  2015    468522       552      1564
208         BANGALORE        May  2015    420072       413      1904
209         BANGALORE       June  2015    485652       940      2356
210         BANGALORE       July  2015    505717      1192      2800
211         BANGALORE     August  2015    562187      1322      4578
212         BANGALORE  September  2015   1194608       870      3734
213         BANGALORE    October  2015   1612160       385      3365
214         BANGALORE   November  2015   1071872       205      3138
215         BANGALORE   December  2015    513186       217      2030
216      BELGAUM(KNT)    January  2010     48477       272      1912
217      BELGAUM(KNT)   February  2010     38433       258      1262
218      BELGAUM(KNT)      March  2010     37610       265       815
219      BELGAUM(KNT)      April  2010     49448       238       663
220      BELGAUM(KNT)        May  2010     41633       240       743
221      BELGAUM(KNT)       June  2010     31212       285       854
222      BELGAUM(KNT)       July  2010     23498       300       971
223      BELGAUM(KNT)     August  2010      9268       542      1192
224      BELGAUM(KNT)  September  2010     21626       721      1514
225      BELGAUM(KNT)    October  2010     10713       700      1300
226      BELGAUM(KNT)   November  2010      8844      1000      2500
227      BELGAUM(KNT)   December  2010     41875       685      3153
228      BELGAUM(KNT)    January  2011     30423       839      4194
229      BELGAUM(KNT)   February  2011     33797       533      1363
230      BELGAUM(KNT)      March  2011     18132       375       700
231      BELGAUM(KNT)      April  2011     10932       320       680
232      BELGAUM(KNT)        May  2011     10794       325       650
233      BELGAUM(KNT)       June  2011     33689       324       726
234      BELGAUM(KNT)       July  2011     34769       359       956
235      BELGAUM(KNT)     August  2011     22075       436      1246
236      BELGAUM(KNT)  September  2011     58775       607      1291
237      BELGAUM(KNT)    October  2011     41641       525      1113
238      BELGAUM(KNT)   November  2011     90587       368       993
239      BELGAUM(KNT)   December  2011     83088       263       903
240      BELGAUM(KNT)    January  2012     46014       209       663
241      BELGAUM(KNT)   February  2012     40955       187       550
242      BELGAUM(KNT)      March  2012     49051       207       593
243      BELGAUM(KNT)      April  2012     50073       263       644
244      BELGAUM(KNT)        May  2012     70434       286       658
245      BELGAUM(KNT)       June  2012     37976       334       726
246      BELGAUM(KNT)       July  2012     24452       453       867
247      BELGAUM(KNT)     August  2012     21995       544      1000
248      BELGAUM(KNT)  September  2012     52802       469       957
249      BELGAUM(KNT)    October  2012    100827       347       981
250      BELGAUM(KNT)   November  2012     81948       472      1383
251      BELGAUM(KNT)   December  2012     37997       633      1720
252      BELGAUM(KNT)    January  2013     35626       681      1538
253      BELGAUM(KNT)   February  2013     47520       771      1698
254      BELGAUM(KNT)      March  2013     58162       632      1269
255      BELGAUM(KNT)      April  2013     54733       572      1274
256      BELGAUM(KNT)        May  2013     54202       566      1731
257      BELGAUM(KNT)       June  2013     34942       871      1708
258      BELGAUM(KNT)       July  2013     32715      1209      2470
259      BELGAUM(KNT)     August  2013     27590      2305      4010
260      BELGAUM(KNT)  September  2013     53618      1716      3942
261      BELGAUM(KNT)    October  2013     75511       366      4544
262      BELGAUM(KNT)   November  2013     51243       609      3460
263      BELGAUM(KNT)   December  2013     21264       506      1984
264      BELGAUM(KNT)    January  2014     33927       344      1280
265      BELGAUM(KNT)   February  2014     46708       298       848
266      BELGAUM(KNT)      March  2014     48822       275       813
267      BELGAUM(KNT)      April  2014     36225       289      1127
268      BELGAUM(KNT)        May  2014     41200       327      1299
269      BELGAUM(KNT)       June  2014     38459       524      1998
270      BELGAUM(KNT)       July  2014     32362       653      2564
271      BELGAUM(KNT)     August  2014     30487       688      2314
272      BELGAUM(KNT)  September  2014     49156       727      1994
273      BELGAUM(KNT)    October  2014     76072       608      1432
274      BELGAUM(KNT)   November  2014     74140       488      1461
275      BELGAUM(KNT)   December  2014     46667       576      1761
276      BELGAUM(KNT)    January  2015     52506       561      1779
277      BELGAUM(KNT)   February  2015     27123       554      1776
278      BELGAUM(KNT)      March  2015     34289       550      1571
279      BELGAUM(KNT)      April  2015     44611       585      1366
280      BELGAUM(KNT)        May  2015     33382       787      1749
281      BELGAUM(KNT)       June  2015     41467       817      2342
282      BELGAUM(KNT)       July  2015     43191      1073      2800
283      BELGAUM(KNT)     August  2015     36444      2081      4733
284      BELGAUM(KNT)  September  2015     67404      2007      4593
285      BELGAUM(KNT)    October  2015    108383       881      3269
286      BELGAUM(KNT)   November  2015     52526       459      3118
287      BELGAUM(KNT)   December  2015     49027       400      1961