# Ejercicios SQL

En la teoría de SQL sobre Python, hemos visto un modelo de datos con bases de datos sobre empleados, canciones, sus tipos, compradores... Ahora hemos realizado algún ejercicio extra sobre esta base de datos.

Vamos a comenzar definiendo todo el setup para poder usar SQL directamente sobre Pyhton, como ya hicimos en su día. Pero tú olvídate de las funciones y céntrate en las sentencias de SQL que debes meter en las queries para sacar lo que nos piden. ¡A por todas!

## Configuración del entorno

In [2]:
import pandas as pd
import sqlite3

¡Asegurate que tienes el archivo chinook.db en la ruta donde se encuentra este Notebook!

In [3]:
# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("chinook.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

In [4]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

## Modelo de datos
Recordamos el modelo de datos para facilitar el entendimiento del modelo de datos:

![imagen](./img/chinook_data_model.png)

Puedes ver todas las tablas que hay en la base de datos, usábamos la siguiente sentencia:

In [5]:
res = crsr.execute("SELECT name FROM sqlite_master WHERE type='table'")
for name in res:
    print(name[0])

albums
sqlite_sequence
artists
customers
employees
genres
invoices
invoice_items
media_types
playlists
playlist_track
tracks
sqlite_stat1
films

## PARTE 1: Ejercicios

1. Muestra los clientes de Brasil
2. ¿Cuántos de los empleados son agentes de ventas?
3. Muestra las canciones de ‘AC/DC’
4. Muestra los clientes que no sean de USA: Nombre completo, ID, Pais
5. Muestra, de los empleados que son agentes de ventas: Nombre completo, Dirección, Ciudad, Estado, Pais y email
6. Muestra una lista con los países que aparecen a los que se ha facturado, la lista no debe contener paises repetidos
7. Muestra los estados de USA de donde son los clientes, la lista no debe contener estados repetidos
8. ¿Cuántos artículos tiene la factura 37?
9. ¿Cuántas canciones tiene ‘AC/DC’?
10. ¿Cuántos artículos tiene cada factura? (Suma de los Quantity)
11. Muestra cuántas facturas hay de cada país (en función del país del customer)
12. Muestra los items tiene cada factura
13. ¿Cuántas facturas ha habido en 2009 o 2011? (Las de 2009 + las de 2011)
14. ¿Cuántas facturas ha habido entre 2009 y 2011?
15. ¿Cuántos clientes hay de España o de Brasil?
16. Muestra las canciones cuyo título empiece por ‘You’

###### Fíjate que la base de datos está en inglés, por lo que tendrás que traducir alguna cosa, como los países, o investigar los valores de la base de datos ;)

### PARTE 1: Respuestas:

In [53]:
# 1.
# query = '''
# SELECT * 
# FROM CUSTOMERS
# LIMIT 5
# '''

query = '''SELECT * FROM customers WHERE COUNTRY != "Brazil" '''

sql_query(query)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
1,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
2,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
3,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
4,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
5,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
6,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
7,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
8,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
9,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
10,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
11,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
12,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
13,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
14,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
15,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
16,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
17,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
18,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
19,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
20,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
21,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
22,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
23,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
24,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
25,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
26,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
27,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
28,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
29,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
30,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
31,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
32,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
33,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
34,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
35,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
36,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
37,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
38,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
39,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
40,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
41,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
42,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
43,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4
44,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
45,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
46,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
47,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
48,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
49,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
50,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
51,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
52,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
53,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

In [56]:
#3 Muestra las canciones de ‘AC/DC’
query = '''
SELECT a.Name , b.Title, c.Name
FROM tracks as a
LEFT JOIN albums as b ON a.AlbumId = b.AlbumId
LEFT JOIN artists as c ON b.ArtistId = c.ArtistId

WHERE c.Name = 'AC/DC'

'''

sql_query(query)

,Name,Title,Name
0,For Those About To Rock (We Salute You),For Those About To Rock We Salute You,AC/DC
1,Put The Finger On You,For Those About To Rock We Salute You,AC/DC
2,Let's Get It Up,For Those About To Rock We Salute You,AC/DC
3,Inject The Venom,For Those About To Rock We Salute You,AC/DC
4,Snowballed,For Those About To Rock We Salute You,AC/DC
5,Evil Walks,For Those About To Rock We Salute You,AC/DC
6,C.O.D.,For Those About To Rock We Salute You,AC/DC
7,Breaking The Rules,For Those About To Rock We Salute You,AC/DC
8,Night Of The Long Knives,For Those About To Rock We Salute You,AC/DC
9,Spellbound,For Those About To Rock We Salute You,AC/DC
10,Go Down,Let There Be Rock,AC/DC
11,Dog Eat Dog,Let There Be Rock,AC/DC
12,Let There Be Rock,Let There Be Rock,AC/DC
13,Bad Boy Boogie,Let There Be Rock,AC/DC
14,Problem Child,Let There Be Rock,AC/DC
15,Overdose,Let There Be Rock,AC/DC
16,Hell Ain't A Bad Place To Be,Let There Be Rock,AC/DC
17,Whole Lotta Rosie,Let There Be Rock,AC/DC

In [58]:
# 4. 
query = '''
SELECT FirstName as Nombre, LastName as Apellido, CustomerId, Country as País
FROM customers
WHERE Country != 'USA'
'''

sql_query(query)

       Nombre      Apellido  CustomerId            País
0        Luís     Gonçalves           1          Brazil
1      Leonie        Köhler           2         Germany
2    François      Tremblay           3          Canada
3       Bjørn        Hansen           4          Norway
4   František   Wichterlová           5  Czech Republic
5      Helena          Holý           6  Czech Republic
6      Astrid        Gruber           7         Austria
7        Daan       Peeters           8         Belgium
8        Kara       Nielsen           9         Denmark
9     Eduardo       Martins          10          Brazil
10  Alexandre         Rocha          11          Brazil
11    Roberto       Almeida          12          Brazil
12   Fernanda         Ramos          13          Brazil
13       Mark       Philips          14          Canada
14   Jennifer      Peterson          15          Canada
15     Robert         Brown          29          Canada
16     Edward       Francis          30          Canada
17     Martha          Silk          31          Canada
18      Aaron      Mitchell          32          Canada
19      Ellie      Sullivan          33          Canada
20       João     Fernandes          34        Portugal
21   Madalena       Sampaio          35        Portugal
22     Hannah     Schneider          36         Germany
23       Fynn    Zimmermann          37         Germany
24     Niklas      Schröder          38         Germany
25    Camille       Bernard          39          France
26  Dominique      Lefebvre          40          France
27       Marc        Dubois          41          France
28      Wyatt        Girard          42          France
29   Isabelle       Mercier          43          France
30      Terhi    Hämäläinen          44         Finland
31   Ladislav        Kovács          45         Hungary
32       Hugh      O'Reilly          46         Ireland
33      Lucas       Mancini          47           Italy
34   Johannes  Van der Berg          48     Netherlands
35  Stanisław        Wójcik          49          Poland
36    Enrique         Muñoz          50           Spain
37     Joakim     Johansson          51          Sweden
38       Emma         Jones          52  United Kingdom
39       Phil        Hughes          53  United Kingdom
40      Steve        Murray          54  United Kingdom
41       Mark        Taylor          55       Australia
42      Diego     Gutiérrez          56       Argentina
43       Luis         Rojas          57           Chile
44      Manoj        Pareek          58           India
45       Puja    Srivastava          59           India

In [62]:
query = '''
SELECT a.Name
FROM tracks a
LEFT JOIN albums b
ON a.AlbumId = b.AlbumId
LEFT JOIN artists c
ON b.ArtistId = c.ArtistId
WHERE c.Name = 'AC/DC'
'''

sql_query(query).to_csv("pruebaE.csv", index=False)

## PARTE 2: Ejercicios

1. Facturas de Clientes de Brasil: Nombre del cliente, Id de factura, fecha de la factura y el pais de la factura
2. ¿Cuántas son el total estas facturas?
3. Muestra cada factura asociada a cada agente de ventas con su nombre completo
4. Muestra por cada cliente, su nombre, su país y el total de gastos en facturas
5. Muestra cada artículo de la factura con el nombre de la cancion
6. Muestra todas las canciones con su nombre, formato, álbum y género
7. Muestra cuántas canciones hay en cada playlist y el nombre de cada playlist
8. Muestra cuánto ha vendido cada empleado
9. ¿Quién ha sido el agente de ventas que más ha vendido en 2009?
10. ¿Cuáles son los 3 grupos que más han vendido?

### PARTE 2: Respuestas:

In [46]:
# 1.

## PARTE 3: Pandas

Ahora que ya has practicado SQL, puedes practicar estas sencillas operaciones con Pandas y comprobar los resultados con lo que has sacado para SQL.

#### PARTE 1: Ejercicios Pandas

1. Muestra los clientes de Brasil
2. ¿Cuántos de los empleados son agentes de ventas?
3. Muestra las canciones de ‘AC/DC’
4. Muestra los clientes que no sean de USA: Nombre completo, ID, Pais
5. Muestra, de los empleados que son agentes de ventas: Nombre completo, Dirección, Ciudad, Estado, Pais y email
6. Muestra una lista con los países que aparecen a los que se ha facturado, la lista no debe contener paises repetidos
7. Muestra los estados de USA de donde son los clientes, la lista no debe contener estados repetidos
8. ¿Cuántos artículos tiene la factura 37?
9. ¿Cuántas canciones tiene ‘AC/DC’?
10. ¿Cuántos artículos tiene cada factura? (Suma de los Quantity)
11. Muestra cuántas facturas hay de cada país (en función del país del customer)
12. Muestra los items tiene cada factura
13. ¿Cuántas facturas ha habido en 2009 o 2011? (Las de 2009 + las de 2011)
14. ¿Cuántas facturas ha habido entre 2009 y 2011?
15. ¿Cuántos clientes hay de España o de Brasil?
16. Muestra las canciones cuyo título empiece por ‘You’

In [9]:
table = 'a'
f"""df_{table} = \"SELECT * FROM {table}\""""

'df_a = "SELECT * FROM a"'

In [14]:
# Conversión de tablas a DataFrames (con el nombre "df_<nombre_table>"):

tables = [
    'albums', 'sqlite_sequence', 'artists', 'customers', 'employees', 'genres', 'invoices', 'invoice_items',
    'media_types', 'playlists', 'playlist_track', 'tracks', 'sqlite_stat1', 'films'
]

for table in tables:
    exec(f"""df_{table} = sql_query(\"SELECT * FROM {table}\")""")

In [15]:
df_media_types

   MediaTypeId                         Name
0            1              MPEG audio file
1            2     Protected AAC audio file
2            3  Protected MPEG-4 video file
3            4     Purchased AAC audio file
4            5               AAC audio file

#### PARTE 2: Ejercicios Pandas

1. Facturas de Clientes de Brasil: Nombre del cliente, Id de factura, fecha de la factura y el pais de la factura
2. ¿Cuántas son el total estas facturas?
3. Muestra cada factura asociada a cada agente de ventas con su nombre completo
4. Muestra por cada cliente, su nombre, su país y el total de gastos en facturas
5. Muestra cada artículo de la factura con el nombre de la cancion
6. Muestra todas las canciones con su nombre, formato, álbum y género
7. Muestra cuántas canciones hay en cada playlist y el nombre de cada playlist
8. Muestra cuánto ha vendido cada empleado
9. ¿Quién ha sido el agente de ventas que más ha vendido en 2009?
10. ¿Cuáles son los 3 grupos que más han vendido?