## Ejercicio 1
Importa la libreria de pandas. ¿Qué versión de la librería tienes?

In [1]:
import pandas as pd
import numpy as np

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html). Este método lo veremos más adelante, junto con otros muchos de lectura y escritura de datos, pero está bien que te vayas familiarizando con él:

In [2]:
df = pd.read_csv("laliga.csv", sep=',')

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [3]:
df.iloc[:4]

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

In [4]:
df.head(4)

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [5]:
df.values

array([[26201, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26202, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26203, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       ...,
       [36682, '2017-18', 1, ..., 0, '20/05/2018', 1526767200],
       [36683, '2017-18', 1, ..., 1, '20/05/2018', 1526767200],
       [36684, '2017-18', 1, ..., 2, '20/05/2018', 1526767200]],
      dtype=object)

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [6]:
df.columns

Index(['Unnamed: 0', 'season', 'division', 'round', 'localTeam', 'visitorTeam',
       'localGoals', 'visitorGoals', 'date', 'timestamp'],
      dtype='object')

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llámalo `poblacion`. Créalo de dos maneras diferentes.

In [18]:
d = {'Galicia': 2699499, 'Madrid': 6663394, 'Andalucía': 8414240, 'Murcia': 1493898}
poblacion = pd.Series(d)
poblacion

Galicia      2699499
Madrid       6663394
Andalucía    8414240
Murcia       1493898
dtype: int64

In [33]:
poblacion = pd.Series([6663394, 2699499, 1493898, 8414240], index = ['Madrid', 'Galicia', 'Murcia', 'Andalucía'])
poblacion

Madrid       6663394
Galicia      2699499
Murcia       1493898
Andalucía    8414240
dtype: int64

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series` del Ejercicio 6.

Saca también sus índices, y los valores de sus índices.

In [34]:
poblacion.values

array([6663394, 2699499, 1493898, 8414240], dtype=int64)

In [35]:
poblacion.index

Index(['Madrid', 'Galicia', 'Murcia', 'Andalucía'], dtype='object')

In [36]:
poblacion.index.values

array(['Madrid', 'Galicia', 'Murcia', 'Andalucía'], dtype=object)

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas (según el Series, no en el plano).
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente, es decir, cambiando la forma de llamar a los índices).

In [88]:
# 1. 
poblacion.iloc[0]
poblacion.loc[poblacion.index[0]]

6663394

In [89]:
# 2.
poblacion['Galicia']
poblacion.loc['Galicia']

2699499

In [90]:
# 3.
poblacion["Galicia":"Andalucía"]
poblacion.loc["Galicia":"Andalucía"]

Galicia      2699499
Murcia       1493898
Andalucía    8414240
dtype: int64

In [91]:
# 4.
"Galicia" in poblacion.index

True

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

In [92]:
t_paro = pd.Series([0.208, 0.0999, 0.1174, 0.1608], index = ['Andalucía', 'Madrid', 'Galicia', 'Murcia'])

In [93]:
data = pd.DataFrame({'Poblacion': poblacion, 'Tasa_Paro': t_paro})
data

           Poblacion  Tasa_Paro
Andalucía    8414240     0.2080
Galicia      2699499     0.1174
Madrid       6663394     0.0999
Murcia       1493898     0.1608

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

In [94]:
print(data['Poblacion'])

Andalucía    8414240
Galicia      2699499
Madrid       6663394
Murcia       1493898
Name: Poblacion, dtype: int64

In [95]:
print(data['Tasa_Paro'])

Andalucía    0.2080
Galicia      0.1174
Madrid       0.0999
Murcia       0.1608
Name: Tasa_Paro, dtype: float64

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

In [96]:
superficie_kmsq = pd.Series([8028, 29575, 87599, 11314], index = ['Madrid', 'Galicia', 'Andalucía', 'Murcia'])
superficie_kmsq

Madrid        8028
Galicia      29575
Andalucía    87599
Murcia       11314
dtype: int64

In [109]:
superficie_kmsq = pd.Series({'Madrid': 8028, 'Galicia': 29575, 'Andalucía': 87599, 'Murcia': 11314})

In [113]:
data2 = data.copy()

In [115]:
data2['Superficie'] = superficie_kmsq

In [116]:
data2

           Poblacion  Tasa_Paro  Superficie
Andalucía    8414240     0.2080       87599
Galicia      2699499     0.1174       29575
Madrid       6663394     0.0999        8028
Murcia       1493898     0.1608       11314

## Ejercicio 12
Calcula en una nueva columna la densidad de población (hab/km^2)

In [123]:
data2['densidad'] = np.round(data2['Poblacion']/data2['Superficie'], 3)

In [124]:
data2

           Poblacion  Tasa_Paro  Superficie  densidad
Andalucía    8414240     0.2080       87599    96.054
Galicia      2699499     0.1174       29575    91.276
Madrid       6663394     0.0999        8028   830.019
Murcia       1493898     0.1608       11314   132.040